<%-include('../includes/header.ejs')%>
<link rel="stylesheet" href="/css/home.css">

</head>
<body>
  <%-include('../includes/navigation.ejs')%>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          <!-- {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %} -->
          <!-- {% block content %} -->
          <% if (posts.length <= 0) { %>
            <h1>Nothing there!</h1>
        <% } else { %>
          <% posts.forEach(post=>{ %>
            <article class="media content-section">
            <img class="rounded-circle article-img" src=<%=post.image%>>
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">BY JIgar Mav</a>
                <small class="text-muted"><%=post.date.toDateString()%></small>
                <small class="text-muted">10 mins</small>
              </div>
              <img src=https://picsum.photos/seed/picsum/200/300>
              <h2><a class="article-title" href="/details"><%=post.title%></a></h2>
              <p class="article-content"><%=post.content%></p>
            </div>
          </article>
          <%})%>

          <%}%>
        </div>
        <%-include('../includes/sidebar.ejs')%>
      </div>
    </main>

<%- include('../includes/footer.ejs')%>